/* Reset some default styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html, body {
  overflow-x: hidden;
}
